<h1>Welcome to RightCodes Solution, <%= @user.name %></h1>
<p>
  You have successfully signed up to RightCodes Solution,
  your username is: <strong> <%= @user.name %> </strong> <br>
</p>
<p>Thanks for joining and have a great day!</p>
