<div class="table-responsive-sm">
  <table class="table table-bordered">
    <tr>
      <th>Starting Date</th>
      <th>Ending Date</th>
      <th>Leave Type</th>
      <th>Status</th>
      <th style="text-align: center;">Action</th>
    </tr>
    <% leaves.each do |leafe| %>
      <tr>
        <%= render partial: 'leaves/action', locals: {leave: leafe} %>
      </tr>
    <% end %>
  </table>
</div>
