<% if user_signed_in? %>
    <h3 class="justify-content-center">User Dashboard </h3>
<% end %>

<% if current_user.admin? or current_user.super_admin? %>
  <br>
  <div class="row">
    <div class="container col-sm-6">
      <button class="accordion btn btn-warning" data-toggle="collapse" data-target="#budget">Budget Statistics</button>
      <div class="collapse show in" id="budget">
        <br>
        <%= line_chart @updated_budget, xtitle: "Month", ytitle: "Expense", width: "500px", height: "350px", download: {background: "#ffffff"} , messages: {empty: "No data"} %>
      </div>
    </div>
    <div class="container col-sm-6">
      <button class="accordion btn btn-warning" data-toggle="collapse" data-target="#revenue">Revenue Graph</button>
      <div class="collapse show in" id="revenue">
        <br>
        <canvas id="bar-chart-grouped" width="800" height="450" responsive="true"></canvas>
      </div>
    </div>
  </div>
<% end %>


<script>
  var m = <%=raw @income_arr.slice(1..12) %>
  var n = <%=raw @expense_arr.slice(1..12) %>
  var months = <%=raw @months %>
    <%#= raise @income_arr.inspect %>
    new Chart(document.getElementById("bar-chart-grouped"), {
        type: 'bar',
        data: {

            labels: months,
            datasets: [
                {
                    label: "Incomes",
                    backgroundColor: "#3e95cd",
                    data: m
                }, {
                    label: "Expenses",
                    backgroundColor: "#8e5ea2",
                    data: n
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Incomes VS Expenses'
            },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
    });
</script>
