<% if user_signed_in? %>
    <h3 class="container col-md-6">Welcome <%= current_user.name %> </h3>
<% end %>
<br>
<br>
<% if current_user.role == User::ADMIN or current_user.role == User::SUPER_ADMIN %>
    <div class="row">
      <div class="container col-sm-6">
        <h4 class="container col-md-5">Budget Statistics</h4><br>
        <%= line_chart Budget.group(:month).sum(:expense), label: "Total Expense", min: 0, xtitle: "Month", ytitle: "Expense", width: "500px", height: "350px" %>
      </div>
      <div class="container col-sm-6">
        <h4 class="container col-md-5">Budget Statistics</h4><br>
        <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
      </div>
    </div>
<% end %>

<script>
  var m = <%=raw @incomes %>
  var n = <%=raw @expenses %>
    new Chart(document.getElementById("bar-chart-grouped"), {
        type: 'bar',
        data: {

            labels: ["1900", "1950", "1999", "2050"],
            datasets: [
                {
                    label: "Incomes",
                    backgroundColor: "#3e95cd",
                    data: m
                }, {
                    label: "Europe",
                    backgroundColor: "#8e5ea2",
                    data: [408,547,675,734]
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Population growth (millions)'
            }
        }
    });
</script>
