<h2>Office Expense Management System</h2>

<button><%= link_to "User Information", manage_users_path %></button>
<button><%= link_to "Budget Information", budgets_path %></button>
<button><%= link_to "Expense Information", expenses_path %></button>
