<div class="panel">
  <div class="table-responsive-sm">
    <table class="table table-bordered">
      <tr>
        <th>Employee Name</th>
        <th>Income Amount</th>
        <th>Date</th>
        <th>Source</th>
        <th style="text-align: center;">Action</th>
      </tr>

      <% incomes.each do |l| %>
          <tr>
            <td>
              <%= l.user.name %>
            </td>
            <%= render partial: 'incomes/action', locals: {l: l} %>
          </tr>
      <% end %>
    </table>
    <div>
      <%= will_paginate incomes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>