<div class="panel">
  <table class="table table-bordered">
    <tr>
      <th>Employee Name</th>
      <th>Starting Date</th>
      <th>Ending Date</th>
      <th>Leave Type</th>
      <th>Reason of Leave</th>
      <th>Status</th>
      <th style="text-align: center;">Action</th>
    </tr>

    <% leaves.each do |l| %>
        <tr>
          <td>
            <%= l.user.name %>
          </td>
          <%= render partial: 'allocated_leaves/action', locals: {l: l} %>
        </tr>
    <% end %>
  </table>
  <div>
    <%= will_paginate leaves, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>